html 
    head
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
        title Home
        link(rel='stylesheet', href='/stylesheets/home.css')
    body 
        nav(class="nav")
            ul(class="navbar__menu")
                a(href="") TutorList
                a(href="") question Post
                a(href="") Find Post
                a(href="") Tutoring List
                a(href="") Call List

    