html
    link(rel='stylesheet', href='/stylesheets/postDetail.css')
    head
        title Post List
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    body
         nav(class="nav")
            ul(class="navbar__menu")
                div(class="home")
                    a(href="../")
                        img(src="https://i.ibb.co/mzbZKrX/home-page.png" alt="home" style="width:30px;height:30px;")
                div(class="menu_group")
                    div(class="other")
                        a(href="../tutorList/") 튜터 찾기
                    div(class="current")
                        a(href="./") 질문 게시판
                    div(class="other") 
                        a(href="../findPost/") 구인 게시판
                    div(class="other")
                        a(href="../tutoringList/") 튜터링 목록
                    div(class="other")
                        a(href="../requestList/") 요청 목록
        div(class="Post")
            div(class="boardLine")
                h4 #{rows[0].title}
                div(class="otherArea")
                    h2 #{rows[0].nickname}
            div(class="contentArea")
                h4 #{rows[0].content}
            div(class="replyArea")
                h2 댓글
                div(class="reply")
                    input(id="reply" placeholder="댓글을 입력해주세요.")

    script(type="text/javascript").
