html
    link(rel='stylesheet', href='/stylesheets/post.css')
    head
        title Post List
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js") 
    body
        nav(class="nav")
            ul(class="navbar__menu")
                a(href="") TutorList
                a(href="./post") question Post
                a(href="") Find Post
                a(href="") Tutoring List
                a(href="") Call List
        div(class="postBox")
            div(class="postArea")
                for item in rows
                    div(class="postList")
                        td #{item.title}
                        td #{item.content}
                        td #{item.nickname}
            div(class="writeArea")
                button(class="write")
                    a(href="./post/write") Write
            
    script(type="text/javascript").
