html
    head
        title Register 
        link(rel='stylesheet', href='/stylesheets/Resgister.css')
    body
        div(class="wrap")
            div(class="register")
                div(class="name")
                    h4 name
                    input(type="name" placeholder="name")
                div(class="nickname")
                    h4 nickname
                    input(type="nickname" placeholder="nickname")
                div(class="phone")
                    h4 phone_number
                    input(type="phone_number" placeholder="phone_number")