html
    head
        title 홈 화면
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
      div(class="wrap")
        div(class="myText") Login Test를 위해 임시로 남겨둔 Text 공간입니다.
        div(class="login")
            h2 Login Test
            li
                script(src="https://accounts.google.com/gsi/client" async defer)
                div(id="g_id_onload" data-client_id="224091167033-surtm8gh2ikripcn329dvvju3is63sp5.apps.googleusercontent.com" data-callback="onSignIn")
                    div(div class="g_id_signin" data-type="standard" style = "margin-left : 100px; margin-Top : 100px;")          
            div(class="login_id")
                h4 E-mail
                input(type='email' name='' id='' placeholder='Email')
            div(class="login_pw")
                h4 Password
                input(type='password' name='' id='' placeholder='Password')
            div(class="login_etc")
                div(class="checkbox")
                    input(type='checkbox' name='' id='')
                    |  Remember Me?
                div(class="forgot_pw")
                    a(href='') Forgot Password?
            div(class="submit")
                input(type='submit' value='Login')
      
    script(type="text/javascript").
        function onSignIn(response) {
           const responsePayload = response.credential;
           var base64Payload = responsePayload.split('.')[1];
           var base64 = base64Payload.replace(/-/g, '+').replace(/_/g, '/');
           var result = decodeURIComponent(window.atob(base64).split('').map(function(c) {
                return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
           }).join(''));
           console.log(result);
           document.location.href="./Register"
        }
