html
    head 
        title tutorProfile Information 
        link(rel='stylesheet', href='/stylesheets/tutorProfile.css')
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    body
        div(class="wrap")
            div(class="profile")
                div(class="")
                    h4 tutorProfile Information
                    div(class="Introduce")
                        h4 Introduce
                        textarea(type="Introduce")
                    div(class="tutorSector")
                        h4 tutorSector
                        textarea(type="tutorSector")
                    div(class="preferenceCountry")
                        h4 preferenceCountry
                        select(id="country1" type="preferenceCountry")
                            option(value="0") French
                            option(value="1") Vietnam
                            option(value="2") China
                            option(value="3") Korea
                        select(id="country2" type="preferenceCountry" style = "margin-left:10px;")
                            option(value="0") French
                            option(value="1") Vietnam
                            option(value="2") China
                            option(value="3") Korea
                    div(class="dateSector")
                        h4 tutoringDate
                        textarea(type="dateSector")
                    div(class="signUp")
                        button(id="signUpbtn" onClick="signUp()") SignUp
                        
    script(type = "text/javascript").
        const openModal = () => {
            const modal = document.getElementById("modal");
            modal.style.display = "flex";
        }
        const closeModal = () => {
            const modal = document.getElementById("modal");
            modal.style.display = "none";
        }
        const signUp = () => {
            const url = document.location.href;
            const qs = url.substring(url.lastIndexOf('?')+1).split('&');
            for(i=0;i<qs.length;i++){
                qs[i] = qs[i].split('=')[1];
            }
            const email = qs[0];
            const password = qs[1];
            const name = qs[2];
            const nickname = qs[3];
            const country = qs[4];
            const role = qs[5];
            var departmentValue = qs[6];
            if(departmentValue.indexOf('%')) {
                departmentValue = departmentValue.split('%20')[0] + " " + departmentValue.split('%20')[1];
            }
            const profileImage = qs[7].split('/')[3] + '/' + qs[7].split('/')[4];
            const Introduce = document.querySelector("div.Introduce textarea").value;
            const tutorSector = document.querySelector("div.tutorSector textarea").value;
            const country1 = document.getElementById("country1");
            const country2 = document.getElementById("country2")
            const preferenceCountry = country1[country1.selectedIndex].text + ',' + country2[country2.selectedIndex].text;
            const User = {
                email : email,
                password : password,
                name : name,
                nickname : nickname,
                country : preferenceCountry,
                role : role,
            }
            axios.get('https://ajoring.kr/auth/SignUp2',{
                    method: 'POST',
                    params: {
                        email : User.email,
                        password : User.password,
                        name : User.name,
                        nickname : User.nickname,
                        country : User.country,
                        role : User.role,
                        Introduce : Introduce,
                        tutorSector : tutorSector,
                        department : departmentValue,
                        profileImage : profileImage,
                        preferenceCountry : preferenceCountry,
                    },
                    headers: {
                        'Content-Type': 'application/json',
                    },
                }).then(response => {
                    if(response.data.status==200){
                        alert("가입 완료");
                        document.location.href = "./start";
                    }
                })
        }