@font-face {
    font-family : 'Noto Sans KR';
    font-style : 'normal';
    font-weight: 200;
    src : url(../fonts/NotoSansKR-Regular.otf);
  }
  
  * {
    font-family: "Noto Sans KR", sans-serif;
  }
  body {
    background: linear-gradient(to right, rgb(50, 82, 116), rgb(20, 47, 61));
    width: auto;
    height: auto;
    display: flex;
  }
  a {
    width: auto;
    text-decoration: none;
    color: black;
    text-align: center;
    text-transform: capitalize;
    font-family: Jalnan;
    font-weight: bold;
    margin-left:auto;
  }
  .nav {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    margin-right: auto;
    margin-left: 5%;
    margin-top : auto;
    margin-bottom: auto;
    width: 10%;
    height : 70%;
  }
  .home {
    margin-left : auto;
    margin-right : auto;
    margin-top : auto;
    margin-bottom : auto;
  }
  .menu_group {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  .menu_group .current {
    display: flex;
    width : 100%;
    height: auto;
    margin-top : auto;
    margin-bottom : auto;
    border-radius: 5px;
    background-color: gray;
  }
  .menu_group .other {
    display: flex;
    width : 100%;
    height: auto;
    margin-top : auto;
    margin-bottom : auto;
  }
  .menu_group a {
    font-family: Noto Sans KR;
    font-size : 15px;
    width: 100%;
    height : auto;
    margin-left : auto;
    margin-right : auto;
    color: lightgray
  }
  .menu_group .other :hover {
    border-radius: 5px;
    background-color: gray;
  }
  .myProfile {
    display: flex;
    width : 10%;
    height : 10%;
    margin-top: 10px;
    margin-right: 20px;
  }
  .myProfile a {
    font-family: Noto Sans KR;
    font-size : 15px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: auto;
    color: lightgray
  }
  .profileIcon {
    width: 48px;
    height: 48px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 24px;
}
.ChatLine {
    width: 70%;
    height: auto;
    margin : auto;
    margin-top: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.ChatBox {
    width: 98%;
    height: auto;
    margin : auto;
    background-color: rgba(199, 187, 187, 0.4);
    display: flex;
    align-items: center;
    flex-direction: row;
}
.ChatList {
    width : 70%;
    height : 70%;
    background-color: rgb(226, 232, 235);
    margin: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.ChatList .chatArea {
    display: flex;
    overflow: scroll;
    flex-direction: column;
}
.inputArea {
    display: flex;
    margin-top:auto;
    width: auto;
    height: auto;
}
.inputArea input {
    margin-left : 20%;
    margin-top:20px;
    height : 60px;
    width : 50%;
    border-radius: 5px;
    border: 0.5px solid lightgray;
    outline : none;
}
.inputArea form {
    height: 100px;
    width: 100%;
}
.mymsg {
    display: inline-block;
    border-radius: 5px;
    padding: 7px 15px;
    margin-bottom: 10px;
    margin-top : 5px;
    margin-right: 10px;
}
.newmsg {
    display: inline-block;
    border-radius: 5px;
    padding: 7px 15px;
    margin-bottom: 10px;
    margin-top : 5px;
    margin-right: 10px;
}
.othermsg {
    display: inline-block;
    border-radius: 5px;
    padding: 7px 15px;
    margin-bottom: 10px;
    margin-top : 5px;
    margin-left: 10px;
}
.ChatBubble {
    width : auto;
    text-align: right;
}
.ChatBubble2 {
    text-align: left;
    display: flex;
    flex-direction: row;
}
.ChatBubble2 > .othermsg {
    background-color: #f1f0f0;
}
.ChatBubble > .mymsg {
    background-color: #0084FF;
    color: #fff;
}
.newBubble {
   text-align: right;
}
.newBubble > .mymsg {
    background-color: #0084FF;
    color: #fff;
}
.newBubble h2 {
    font-family: Jalnan;
    font-size: 15px;
    margin-top : 15px;
    margin-left: 200px;
    margin-right: 5px;
}
.ChatBubble h2 {
    font-family: Jalnan;
    font-size: 15px;
    margin-top : 15px;
    margin-left: 200px;
    margin-right: 5px;
}
.translateButton {
   width: 30px;
   height: 30px;
   margin-top : auto;
   margin-bottom: auto;
   margin-left : 10px;
}
.translateButton:hover {
  box-shadow: 1px 1px 1px lightgray;
}
.translateButton img {
  width: 30px;
   height: 30px;
}