@font-face {
    font-family : 'Noto Sans KR';
    font-style : 'normal';
    font-weight: 200;
    src : url(../fonts/NotoSansKR-Regular.otf);
  }
  
  * {
    font-family: "Noto Sans KR", sans-serif;
  }
  body {
    background: linear-gradient(to right, rgb(50, 82, 116), rgb(20, 47, 61));
    width: auto;
    height: auto;
    display: flex;
  }
  a {
    width: auto;
    text-decoration: none;
    color: black;
    text-align: center;
    text-transform: capitalize;
    font-family: Jalnan;
    font-weight: bold;
    margin-left:auto;
  }
  .nav {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    margin-right: auto;
    margin-left: 5%;
    margin-top : auto;
    margin-bottom: auto;
    width: 10%;
    height : 70%;
  }
  .home {
    margin-left : auto;
    margin-right : auto;
    margin-top : auto;
    margin-bottom : auto;
  }
  .menu_group {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  .menu_group .current {
    display: flex;
    width : 100%;
    height: auto;
    margin-top : auto;
    margin-bottom : auto;
    border-radius: 5px;
    background-color: gray;
  }
  .menu_group .other {
    display: flex;
    width : 100%;
    height: auto;
    margin-top : auto;
    margin-bottom : auto;
  }
  .menu_group a {
    font-family: Noto Sans KR;
    font-size : 15px;
    width: 100%;
    height : auto;
    margin-left : auto;
    margin-right : auto;
    color: lightgray
  }
  .menu_group .other :hover {
    border-radius: 5px;
    background-color: gray;
  }
  .myProfile {
    display: flex;
    width : 10%;
    height : 10%;
    margin-top: 10px;
    margin-right: 20px;
  }
  .myProfile a {
    font-family: Noto Sans KR;
    font-size : 15px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: auto;
    color: lightgray
  }
  .profileIcon {
    width: 48px;
    height: 48px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 24px;
  }

.profileBox {
  width: 98%;
  height: auto;
  margin : auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  align-items: center;
}
.profileArea {
  width: auto;
  height: auto;
  margin : auto;
  margin-top: 20px;
  margin-bottom : 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.editButton {
    margin-left: auto;
    margin-right : 40px;
}
.editButton h4 {
    font-size: 15px;
    font-family: Jalnan;
    margin:auto;
    color: white;
}
.editButton button {
    width: 100px;
    height: 40px;
    margin-bottom: 50px;
    border-radius: 5px;
    margin-left: 50px;
    margin-right: 20px;
    margin-top: 20px;
    padding: 0px 20px;
    display: flex;
    border: 1px solid lightgray;
    background-color: rgb(48, 137, 232);
    outline: none;
}
.editButton button:hover {
    background-color: lightgray;
}
.inputLine button h4 {
    font-family: Jalnan;
    font-size: 15px;
    font-weight: bold;
}
.Introduce {
    margin-top: 20px;
    margin-left: 20px;
    width: 80%;    
}
.Introduce h4 {
    font-family: Jalnan;
    font-size: 15px;
}
.Introduce textarea {
    width: 300px;
    height: 200px;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 5px;
    padding: 10px 10px;
    border: 1px solid lightgray;
    outline: none;
    resize : none;
}
.tutorSector {
    margin-top: 20px;
    margin-left: 20px;
    width: 80%;    
}
.tutorSector h4 {
    font-family: Jalnan;
    font-size: 15px;
}
.tutorSector textarea {
    width: 250px;
    height: 100px;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px 10px;
    border: 1px solid lightgray;
    outline: none;
    resize : none;
}

.tutorDates {
    margin-top: 20px;
    margin-left: 20px;
    width: 80%;    
}
.tutorDates h4 {
    font-family: Jalnan;
    font-size: 15px;
}
.tutorDates textarea {
    width: 250px;
    height: 100px;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px 10px;
    border: 1px solid lightgray;
    outline: none;
    resize : none;
}

.preferenceCountry {
    margin-top: 20px;
    margin-left: 20px;
    width: 80%;
}
.preferenceCountry h4 {
    font-family: Jalnan;
    font-size: 15px;
    margin-bottom: 10px;
}
.preferenceCountry select {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    margin-top: 5px;
}
