* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
  }
  
  a {
		width: 100%;
		padding: 2px;
        text-decoration: none;
        color: black;
		text-align: center;
		text-transform: capitalize;
        font-family:Georgia, 'Times New Roman', Times, serif;
  }
  
  .nav {
    background:white;
    align-items: inherit;
    margin-top: 2%;
    padding: 8px 12px;
    flex-direction: row;
  }
  .navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0px;
}

.navbar__menu :hover {
    background: burlywood;
    border-radius: 4px;
}