@font-face {
    font-family : 'Noto Sans KR';
    font-style : 'normal';
    font-weight: 200;
    src : url(../fonts/NotoSansKR-Regular.otf);
  }
  
  * {
    font-family: "Noto Sans KR", sans-serif;
  }
  body {
    background: linear-gradient(to right, rgb(50, 82, 116), rgb(20, 47, 61));
    width: auto;
    height: auto;
    display: flex;
  }
  a {
    width: auto;
    text-decoration: none;
    color: black;
    text-align: center;
    text-transform: capitalize;
    font-family: Jalnan;
    font-weight: bold;
    margin-left:auto;
  }
  .nav {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    margin-right: auto;
    margin-left: 5%;
    margin-top : auto;
    margin-bottom: auto;
    width: 10%;
    height : 70%;
  }
  .home {
    margin-left : auto;
    margin-right : auto;
    margin-top : auto;
    margin-bottom : auto;
  }
  .menu_group {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  .menu_group .current {
    display: flex;
    width : 100%;
    height: auto;
    margin-top : auto;
    margin-bottom : auto;
    border-radius: 5px;
    background-color: gray;
  }
  .menu_group .other {
    display: flex;
    width : 100%;
    height: auto;
    margin-top : auto;
    margin-bottom : auto;
  }
  .menu_group a {
    font-family: Noto Sans KR;
    font-size : 15px;
    width: 100%;
    height : auto;
    margin-left : auto;
    margin-right : auto;
    color: lightgray
  }
  .menu_group .other :hover {
    border-radius: 5px;
    background-color: gray;
  }
  .myProfile {
    display: flex;
    width : 10%;
    height : 10%;
    margin-top: 10px;
    margin-right: 20px;
  }
  .myProfile a {
    font-family: Noto Sans KR;
    font-size : 15px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: auto;
    color: lightgray
  }
  .profileIcon {
    width: 48px;
    height: 48px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 24px;
  }
.requestBox {
    width: 98%;
    height: auto;
    margin : auto;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.meetingBox {
    width: 50%;
    height: auto;
    margin-left : auto;
    margin-right : auto;
    margin-top : 10%;
    margin-bottom : 20%;
    border-radius: 5px;
    background: white;
}
.meetingDate {
    padding : 15px;
    margin-top : 50px;
}
.meetingContent {
    padding : 15px;
    margin-top : 50px;
}
.meetingContent h4 {
    font-family: Jalnan;
    margin-bottom: 20px;
}
.meetingPlace h4 {
    font-family: Jalnan;
    margin-bottom: 20px;
}
.meetingPlace input {
    border-radius: 5px;
    width : 200px;
    height : 30px;
    outline : none;
}
.ImagePlace {
    margin-left: 20px;
}
.meetingPlace button {
    margin-left : 20px;
    border-radius: 5px;
    width : auto;
    height : 30px;
    outline : none;
    border : 0.5px solid lightgray;
    background-color: white;
    font-size: 15px;
    font-family: Jalnan;
    font-weight: bold;
}
.meetingPlace button:hover {
    background-color: lightgray;
}
.meetingDate h4 {
    font-family: Jalnan;
    margin-bottom: 20px;
}
.meetingPlace {
    padding :15px;
}
.meetingContent textarea {
    resize : none;
    width : 50%;
    height : 250px;
    border : 0.5px solid #E1E1E1;
    border-radius: 5px;
    outline: none;
    font-family: Jalnan;
}

input[type="date"]{
    position : relative;
    width : 120px;
    height : 48px;
    font-family: Jalnan;
    border: 1px solid #E1E1E1;
    outline: none;
    border-radius: 5px;
}
input[type="date"]::-webkit-clear-button {
     display: none;
}
input[type="date"]::-webkit-outer-spin-button {
    display: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(https://i.ibb.co/mH7g9bM/calendar.png) no-repeat right 10px center / 10px auto;
    width: 20px;
    height: 20px;
    border-width: thin;
}

.buttonArea {
    display: flex;
    flex-direction: column;
}
.buttonArea button {
    width: 120px;
    height: 40px;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: auto;
    margin-right : 40px;
    margin-bottom : 20px;
    padding: 0px 20px;
    border: 1px solid lightgray;
    background-color: white;
    outline: none;
}
.buttonArea h4 {
    margin:auto;
}
.buttonArea button:hover {
    background-color: lightgray;
}

#modal.modal-overlay {
    width: 100%;
    height: 150%;
    position: absolute;
    display: none;
    flex-direction: row;
    align-items: center;
    margin-left:auto;
    justify-content: center;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    top : 100;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  #modal .modal-window {
    background: white;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 50%;
    height: 1050px;
    display: flex;
    position: relative;
    margin-top : auto;
    margin-bottom : auto;
    flex-direction: column;
    padding: 10px;
  }
  #modal .modal-window button {
    background: white;
    width : 100px;
    height : 40px;
    border-radius: 5px;
    border : 1px solid lightgray;
    margin-left: auto;
    margin-top: 20px;
    margin-right : 10px;
  }
  #modal .modal-window button h4 {
    margin:auto;
  }
  #modal .modal-window button:hover {
    background-color: lightgray;
  }
  #modal #map{
    width:100%;
    height: 100%;
  }
  .searchMap {
    background-color: #fff;
    font-family: Jalnan;
    font-size: 15px;
    border-radius: 5px;
    font-weight: 300;
    margin-left: 12px;
    border : 1px solid lightgray;
    outline : none;
    padding: 0 11px 0 13px;
    margin-top:15px;
    width: 400px;
    height: 30px;
  }