@font-face {
    font-family : 'Jalnan';
    font-style : 'normal';
    font-weight: 200;
    src : url(../fonts/RobotoMono-Light.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
  }
body {
    background: linear-gradient(to left, rgb(48, 137, 232), rgb(194, 227, 247));
}
  a {
		width: 10%;
        text-decoration: none;
        color: black;
		text-align: center;
		text-transform: capitalize;
        font-family: Jalnan;
        font-weight: bold;
  }
  .nav {
    background: white;
    margin-top : 10px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width:98%;
    height : 50px;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .home {
    margin-left: 20px;
    margin-top : 10px;
    margin-bottom: 20px;
    width: 15px;
    height: 15px;
  }
  .menu_group {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 40px;
    width: 80%;
  }
  
.navbar__menu {
    display: flex;
    list-style: none;
}
.navbar__menu .current {
    border-bottom: 4px solid rgb(58, 9, 170);
    margin-left: auto;
    margin-right: auto;
}
.navbar__menu .other {
    margin-left: auto;
    margin-right: auto;
}
.navbar__menu .other :hover {
    border-bottom: 4px solid rgb(58, 9, 170);
}

.profileBox {
  width: 98%;
  height: auto;
  margin : auto;
  background-color: rgba(199, 187, 187, 0.4);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  align-items: center;
}
.profileArea {
  width: 25%;
  height: 800px;
  margin : auto;
  margin-top: 20px;
  margin-bottom : 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.ImageSector {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.image {
  margin-top : 20px;
  margin-bottom : 20px;
  margin-left : auto;
  margin-right: auto;
  width : 128; 
  height : 128; 
  border : 0.5px solid lightgray;
  display : flex;
  border-radius: 70px;
  -moz-border-radius: 70px;
  -khtml-border-radius: 70px;
  -webkit-border-radius: 70px;
}
.editProfile {
  width: 100%;
  height : auto;
  margin-left: auto;
  display: flex;
  margin-right : auto;
}
.editProfile button {
  width : 200px;
  height : 30px;
  margin-left: auto;
  margin-right : auto;
  margin-top: 20px;
  border : 0px;
  border-radius: 5px;
}
.editProfile button:hover {
  background-color: lightgray;
}
.editProfile h4 {
  font-family: Jalnan;
  font-size: 15;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}
.UserSector {
  margin-top : 30px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.nickname {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
}
.nickname h4 {
  font-size: 14px;
  font-family: Jalnan;
}
.department {
  margin-top : 30px;
  width: auto;
  height: auto;
  border-bottom: 1px solid lightgray;
}
.department h3 {
  font-size: 14px;
  font-family: Jalnan;
  margin-left: 10px;
  color: darkgray;
}
.department h4 {
  font-size: 16px;
  font-family: Jalnan;
  margin-left: 10px;
  margin-top : 10px;
  margin-bottom: 20px;
}
.email {
  margin-top : 10px;
  width: auto;
  height: auto;
  border-bottom: 1px solid lightgray;
}
.email h4 {
  font-size: 16px;
  font-family: Jalnan;
  margin-left: 150px;
  margin-bottom : 30px;
}
.name {
  margin-top : 30px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid lightgray;
}
.name h3 {
  font-size: 14px;
  font-family: Jalnan;
  margin-left: 10px;
  color: darkgray;
}
.name h4 {
  font-size: 16px;
  font-family: Jalnan;
  margin-left: 10px;
  margin-top : 10px;
  margin-bottom: 20px;
}
.userType {
  margin-top : 30px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid lightgray;
}
.tutorBtn {
  margin-top : 30px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.tutorBtn button {
  width : 200px;
  height : 30px;
  margin-left: auto;
  margin-right : auto;
  margin-top: 20px;
  border : 0px;
  border-radius: 5px;
}
.tutorBtn button:hover {
  background-color: lightgray;
}
.tutorBtn h4 {
  font-family: Jalnan;
  font-size: 15;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}
.userType h3 {
  font-size: 14px;
  font-family: Jalnan;
  margin-left: 10px;
  color: darkgray;
}
.userType h4 {
  font-size: 16px;
  font-family: Jalnan;
  margin-left: 10px;
  margin-top : 10px;
  margin-bottom: 20px;
}
.tutorDate {
  margin-top : 30px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid lightgray;
}
.tutorDate h3 {
  font-size: 14px;
  font-family: Jalnan;
  margin-left: 10px;
  color: darkgray;
}
.tutorDate h4 {
  font-size: 16px;
  font-family: Jalnan;
  margin-left: 10px;
  margin-top : 10px;
  margin-bottom: 20px;
}
.tutorIntroduce {
  margin-top : 30px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid lightgray;
}
.tutorIntroduce h3 {
  font-size: 14px;
  font-family: Jalnan;
  margin-left: 10px;
  color: darkgray;
}
.tutorIntroduce h4 {
  font-size: 16px;
  font-family: Jalnan;
  margin-left: 10px;
  margin-top : 10px;
  margin-bottom: 20px;
}
.tutorSector {
  margin-top : 30px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid lightgray;
} 
.tutorSector h3 {
  font-size: 14px;
  font-family: Jalnan;
  margin-left: 10px;
  color: darkgray;
}
.tutorSector h4 {
  font-size: 16px;
  font-family: Jalnan;
  margin-left: 10px;
  margin-top : 10px;
  margin-bottom: 20px;
}