* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
  }
  
  a {
		width: 100%;
		padding: 2px;
        text-decoration: none;
        color: black;
		text-align: center;
		text-transform: capitalize;
        font-family:Georgia, 'Times New Roman', Times, serif;
  }
  .line {
    width:100%; 
    border:1px solid black
  }
  .nav {
    background:white;
    margin-top: 2%;
    padding: 8px 12px;
    flex-direction: row;
    width:100%; 
    border-bottom:1px solid silver
  }
  .navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0px;
}
.navbar__menu :hover {
    background: burlywood;
    border-radius: 4px;
}
.Post {
 display: flex;
 flex-direction: column;
 margin-left: 400px;
 width : 40%;
 border-bottom: 1px solid silver;
 margin-top : 100px;
}
.titleArea {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    padding : 10px 12px
}
.titleArea h4{
    margin-left: 20px;
    font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.contentArea {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    padding : 10px 12px
}
.contentArea h4 {
    margin-left: 20px;
    font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.otherArea {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    padding : 10px 12px
}
.otherArea {
    margin-left: 20px;
    font-size: 15px;
    font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}   