@font-face {
    font-family : 'Jalnan';
    font-style : 'normal';
    font-weight: 200;
    src : url(../fonts/RobotoMono-Light.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
  }
body {
    background: linear-gradient(to left, rgb(48, 137, 232), rgb(194, 227, 247));
}
  a {
		width: 10%;
        text-decoration: none;
        color: black;
		text-align: center;
		text-transform: capitalize;
        font-family: Jalnan;
        font-weight: bold;
  }
  .nav {
    background: white;
    margin-top : 10px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width:98%;
    height : 50px;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .home {
    margin-left: 20px;
    margin-top : 10px;
    margin-bottom: 20px;
    width: 15px;
    height: 15px;
  }
  .menu_group {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 40px;
    width: 80%;
  }
  
.navbar__menu {
    display: flex;
    list-style: none;
}
.navbar__menu .current {
    border-bottom: 4px solid rgb(58, 9, 170);
    margin-left: auto;
    margin-right: auto;
}
.navbar__menu .other {
    margin-left: auto;
    margin-right: auto;
}
.navbar__menu .other :hover {
    border-bottom: 4px solid rgb(58, 9, 170);
}

.postBox {
    width: 98%;
    height: 99%;
    margin : auto;
    background-color: rgba(199, 187, 187, 0.4);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.Post {
 display: flex;
 flex-direction: column;
 margin-left: 400px;
 width : 60%;
 height: 80%;
 border-bottom: 1px solid silver;
 background-color: white;
 border-radius: 5px;
 margin-top : 100px;
}
.boardLine {
    border-bottom: 2px solid lightgray;
    width: 95%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    height : 10%;
}
.boardLine h4 {
    font-family: Jalnan;
    font-weight: bold;
    font-size: 18px;
    margin-top : auto;
    margin-bottom: auto;
}
.boardLine h2 {
    font-family: Jalnan;
    font-weight: bold;
    font-size: 14px;
    margin-top : auto;
    margin-bottom: auto;
}
.contentArea {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    width: 95%;
    height : 60%;
    margin-right: auto;
    border-bottom: 2px solid silver;
    padding : 10px 12px
}
.contentArea h4 {
    font-family : Jalnan;
    font-size: 15px;
}
.otherArea {
    display: flex;
    flex-direction: row;
    margin-right: auto;
}
.otherArea h2 {
    font-family: Jalnan;
    font-size: 12px;
    margin-bottom: 20px;
}
.replyArea {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin-top : 10px;
    background-color: white;
}
.replyArea h2 {
    font-size: 18px;
    margin-left : 20px;
    margin-bottom: 30px;
    font-family: Jalnan;
}
.reply{
    border : 1px solid silver;
    background: white;
    width : 80%;
    height : 80px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.reply h2 {
    font-size: 14px;
    font-family: Jalnan;
}
.reply input {
    margin-top : 20px;
    margin-bottom : 20px;
    padding : 10px 12px;
    border : 0px;
    outline : none;
}