@font-face {
    font-family : 'Noto Sans KR';
    font-style : 'normal';
    font-weight: 200;
    src : url(../fonts/NotoSansKR-Regular.otf);
  }
  
  * {
    font-family: "Noto Sans KR", sans-serif;
  }
  body {
    background: linear-gradient(to right, rgb(50, 82, 116), rgb(20, 47, 61));
    width: auto;
    height: auto;
    display: flex;
  }
  a {
    width: auto;
    text-decoration: none;
    color: black;
    text-align: center;
    text-transform: capitalize;
    font-family: Jalnan;
    font-weight: bold;
    margin-left:auto;
  }
  .nav {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    margin-right: auto;
    margin-left: 5%;
    margin-top : auto;
    margin-bottom: auto;
    width: 10%;
    height : 70%;
  }
  .home {
    margin-left : auto;
    margin-right : auto;
    margin-top : auto;
    margin-bottom : auto;
  }
  .menu_group {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  .menu_group .current {
    display: flex;
    width : 100%;
    height: auto;
    margin-top : auto;
    margin-bottom : auto;
    border-radius: 5px;
    background-color: gray;
  }
  .menu_group .other {
    display: flex;
    width : 100%;
    height: auto;
    margin-top : auto;
    margin-bottom : auto;
  }
  .menu_group a {
    font-family: Noto Sans KR;
    font-size : 15px;
    width: 100%;
    height : auto;
    margin-left : auto;
    margin-right : auto;
    color: lightgray
  }
  .menu_group .other :hover {
    border-radius: 5px;
    background-color: gray;
  }
  .myProfile {
    display: flex;
    width : 10%;
    height : 10%;
    margin-top: 10px;
    margin-right: 20px;
  }
  .myProfile a {
    font-family: Noto Sans KR;
    font-size : 15px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: auto;
    color: lightgray
  }
  .profileIcon {
    width: 48px;
    height: 48px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 24px;
  }

.postBox {
    width: 98%;
    height: 80%;
    margin : auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.write {
    background: white;
    border-radius: 5px;
    height: auto;
    width : 100px;
    box-shadow: 1.5px 1.5px gray;
    border : 0;
    margin-left: auto;
    margin-right : 60px;
}
.SearchAct {
    display: flex;
    border-radius: 5px;
    background-color: white;
}
.write h2 {
    font-family: Jalnan;
    font-size : 14px;
    margin:auto;
}
.write:hover {
    background: silver;
    font-size: 14px;
    font-family: Jalnan;
}
.title {
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}
.title textarea {
  width: 1000px;
  height: 30px;
  margin-top: 10px;
  padding: 0px 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
  outline: none;
}
.content {
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}
.content textarea {
    width: 1000px;
    height: 500px;
    margin-top: 10px;
    border-radius: 5px;
    padding: 0px 10px;
    border: 1px solid lightgray;
    outline: none; 
}
.submit {
    border : 0.25px white;
    background: skyblue;
    border-radius: 10px;
    margin-top : 20px;
    width : 100px;
    height : 50px;
    margin-left: auto;
    margin-right: 450px;
}
.postList {
    width: auto;
    height: auto;
    overflow-y: auto;
    border-radius: 1px;
    box-shadow: 1.5px 1.5px gray;
    background: white;
    border-bottom: 0.5px solid lightgray;
    display: flex;
    flex-direction: row;
}
.search {
    height: 30px;
    background: white;
    border-radius: 5px;
    border : 0px;
    margin-top: auto;
}
.postAct {
    height: 5%;
    width : 100%;
    display: flex;
    flex-direction: row;
    margin-right: auto;
}
.postArea {
    margin-right : 20px;
    border-radius: 5px;
    margin-bottom: auto;
    margin-top : 20px;
    width: 95%;
    height: auto;
}
.postList h2 {
}
.IndexArea {
    margin-right : 20px;
    display: flex;
    flex-direction: row;
    height:10%;
    width: 95%;
    align-items: center;
    background: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 4px solid rgba(16, 39, 66, 0.2)
}
.IndexArea h2 {
    font-family: Jalnan;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
}
.searchArea {
    background-color: rgba(72,122,180, 0.001);
    width: auto;
    padding : 10 12px;
    height : auto;
    border-radius: 5px;
}
.postTitle {
    margin-left: 2%;
}
.postTitle h4 {

}
.postOwner_Count {
 display: flex;
 flex-direction: row;
}
.postOwner {
    margin-left: 2%;
}
.postContent {
    margin-left: 2%;
}
.postCount {
    margin-left: 2%;
}
.postCount h2 {
    font-family: Jalnan;
    font-size: 12px;
}
.postList .postNext{
    cursor: pointer;
    width: 80%;
}
.translate {
    display: flex;
    flex-direction: row;
    margin-bottom: auto;
    margin-top: auto;
}