@font-face {
    font-family : 'Jalnan';
    font-style : 'normal';
    font-weight: 200;
    src : url(../fonts/RobotoMono-Light.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
  }
body {
    background: linear-gradient(to left, rgb(48, 137, 232), rgb(194, 227, 247));
}
  a {
		width: 10%;
        text-decoration: none;
        color: black;
		text-align: center;
		text-transform: capitalize;
        font-family: Jalnan;
        font-weight: bold;
  }
  .nav {
    background: white;
    margin-top : 10px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width:98%;
    height : 50px;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .home {
    margin-left: 20px;
    margin-top : 10px;
    margin-bottom: 20px;
    width: 15px;
    height: 15px;
  }
  .menu_group {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 40px;
    width: 80%;
  }
  
.navbar__menu {
    display: flex;
    list-style: none;
}
.navbar__menu .current {
    border-bottom: 4px solid rgb(58, 9, 170);
    margin-left: auto;
    margin-right: auto;
}
.navbar__menu .other {
    margin-left: auto;
    margin-right: auto;
}
.navbar__menu .other :hover {
    border-bottom: 4px solid rgb(58, 9, 170);
}

.postBox {
    width: 98%;
    height: 99%;
    margin : auto;
    background-color: rgba(199, 187, 187, 0.4);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.write {
    background: rgb(48, 137, 232);
    border-radius: 5px;
    height: 40px;
    width : 10%;
    padding: 5px 5px;
    box-shadow: 1.5px 1.5px gray;
    border : 0;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right : 30px;
}
.SearchAct {
    width : 30%;
    border-radius: 5px;
    background-color: white;
}
.write h2 {
    font-family: Jalnan;
    font-size : 12px;
    margin-left: 14px;
    color: rgb(194, 227, 247);
    margin-top: 60px;
}
.write:hover {
    background: silver;
    font-size: 14px;
    font-family: Jalnan;
}
.title {
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}
.title textarea {
  width: 90%;
  height: 30px;
  margin-left: 40px;
  padding: 0px 10px;
  border: 1px solid lightgray;
  resize: none;
}
.content {
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}
.boardLine {
    border-bottom: 2px solid black;
    width: 95%;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    height : 8%;
}
.boardLine h2 {
    font-family: Jalnan;
    font-weight: bold;
    font-size: 18px;
    margin-top : auto;
    margin-bottom: auto;
}
.content textarea {
    width: 90%;
    height: 50%;
    margin-top: 10px;
    margin-left:40px;
    padding: 0px 10px;
    border: 1px solid lightgray;
    outline: none;
    resize: none; 
}
.submit {
    border : 0.25px white;
    background: skyblue;
    border-radius: 10px;
    margin-top : 20px;
    width : 100px;
    height : 50px;
    margin-left: auto;
    margin-right: 450px;
}
.postList {
    width: 1430px;
    height: 250px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 1.5px 1.5px gray;
    background: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.postList:hover {
    background-color: silver;
}
.search {
    height: 100%;
    width : 90%;
    background: white;
    border-radius: 5px;
    border : 0px;
    padding : 2px 2px;
}
.postAct {
    height: 5%;
    width : 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    margin-right: auto;
}
.postArea {
    margin-right : 20px;
    border-radius: 5px;
    margin-bottom: auto;
    width: 95%;
    height: 80%;
}
.postList h2 {
    font-family: Jalnan;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
}
.IndexArea {
    margin-right : 20px;
    display: flex;
    flex-direction: row;
    height:10%;
    width: 95%;
    align-items: center;
    background: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 4px solid rgba(16, 39, 66, 0.2)
}
.IndexArea h2 {
    font-family: Jalnan;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
}
.searchArea {
    background-color: rgba(72,122,180, 0.001);
    width: 25%;
    padding : 10 12px;
    height : 95%;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
}
.postTitle {
    border-radius: 5px;
    margin-right: auto;
    margin-left: 20px;
    margin-top: 10px;
    width: 95%;
    height: 50px;
}
.postTitle h1 {
    font-family: Jalnan;
    font-size: 20px;
    font-weight: bold;
}
.postOwner_Count {
    border-radius: 5px;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-top: 10px;
    width: 95%;
    height: 70px;
}
.postOwner {
    border-radius: 5px;
    margin-left: auto;
    width: 400px;
    margin-top: 40px;
    height: 40px;
}
.postContent {
    border-radius: 5px;
    margin-right: auto;
    margin-left: 20px;
    margin-top: 10px;
    width: 95%;
    height: 100px;
}
.postCount {
    border-radius: 5px;
    width: 100px;
    margin-top: 40px;
    height: 10px;
}
.writeBox {
    width: 50%;
    height: 80%;
    margin : auto;
    border-radius: 5px;
    background: white;
}
.postCount h2 {
    font-family: Jalnan;
    font-size: 12px;
}