@font-face {
    font-family : 'Noto Sans KR';
    font-style : 'normal';
    font-weight: 200;
    src : url(../fonts/NotoSansKR-Regular.otf);
  }
  
  * {
    font-family: "Noto Sans KR", sans-serif;
  }
  body {
    background: linear-gradient(to right, rgb(50, 82, 116), rgb(20, 47, 61));
    width: auto;
    height: auto;
    display: flex;
  }
  a {
    width: auto;
    text-decoration: none;
    color: black;
    text-align: center;
    text-transform: capitalize;
    font-family: Jalnan;
    font-weight: bold;
    margin-left:auto;
  }
  .nav {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    margin-right: auto;
    margin-left: 5%;
    margin-top : auto;
    margin-bottom: auto;
    width: 10%;
    height : 70%;
  }
  .home {
    margin-left : auto;
    margin-right : auto;
    margin-top : auto;
    margin-bottom : auto;
  }
  .menu_group {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  .menu_group .current {
    display: flex;
    width : 100%;
    height: auto;
    margin-top : auto;
    margin-bottom : auto;
    border-radius: 5px;
    background-color: gray;
  }
  .menu_group .other {
    display: flex;
    width : 100%;
    height: auto;
    margin-top : auto;
    margin-bottom : auto;
  }
  .menu_group a {
    font-family: Noto Sans KR;
    font-size : 15px;
    width: 100%;
    height : auto;
    margin-left : auto;
    margin-right : auto;
    color: lightgray
  }
  .menu_group .other :hover {
    border-radius: 5px;
    background-color: gray;
  }
  .myProfile {
    display: flex;
    width : 10%;
    height : 10%;
    margin-top: 10px;
    margin-right: 20px;
  }
  .myProfile a {
    font-family: Noto Sans KR;
    font-size : 15px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: auto;
    color: lightgray
  }
  .profileIcon {
    width: 48px;
    height: 48px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 24px;
  }
.postBox {
    width: 98%;
    height: 99%;
    margin : auto;
    background-color: rgba(199, 187, 187, 0.4);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.Post {
 display: flex;
 flex-direction: column;
 margin-left: auto;
 margin-right: auto;
 width : 60%;
 height: auto;
 border-bottom: 1px solid silver;
 background-color: white;
 border-radius: 5px;
 margin-top : 100px;
}
.boardLine {
    border-bottom: 2px solid lightgray;
    width: 95%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    height : 10%;
}
.boardLine h4 {
    font-family: Noto Sans KR;
    font-weight: bold;
    font-size: 18px;
    margin-top : auto;
    margin-bottom: auto;
}
.boardLine h2 {
    font-family: Noto Sans KR;
    font-weight: bold;
    font-size: 14px;
    margin-top : auto;
    margin-bottom: auto;
}
.contentArea {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    width: 95%;
    height : 30%;
    margin-right: auto;
    border-bottom: 2px solid silver;
    padding : 10px 12px
}
.contentArea h4 {
    font-family : Noto Sans KR;
    font-size: 15px;
}
.otherArea {
    display: flex;
    width : 100%;
    height : auto;
    flex-direction: row;
    margin-right: auto;
}
.otherArea h2 {
    font-family: Noto Sans KR;
    font-size: 12px;
    margin-bottom: 20px;
}
.replyArea {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top : 10px;
    background-color: white;
}
.replyArea h2 {
    font-size: 18px;
    margin-left : 20px;
    font-family: Noto Sans KR;
}
.reply{
    border : 1px solid silver;
    width : 98%;
    height : 50%;
    margin-left: 20px;
    border-radius: 5px;
}
.replyList{
    border : 1px solid silver;
    width : 80%;
    height : auto;
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    margin-bottom : 20px;
    border-radius: 5px;
}

.delete {
   display: flex;
   flex-direction: row;
   width: 30%;
}
.delete button {
    width : 80px;
    height : 30px;
    background-color: rgb(240, 116, 118);
    border : 0px;
    margin-left: auto;
    font-family: Noto Sans KR;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}
.delete button:hover {
    background-color: lightslategray;
}
.replyList h4 {
    font-size : 14px;
    margin-left : 20px;
    font-family: Noto Sans;
}
.replyList h3 {
    font-size : 14px;
    margin:auto;
    margin-right : 20px;
    font-family: Noto Sans;
}
.reply h2 {
    font-size: 14px;
    margin-top : 15px;
    font-family: Jalnan;
}
.reply .replybox {
    margin-bottom: 80px;
    width : 100%;
    display: flex;
    flex-direction: row;
}
.replybox input {
    border : 0px;
    width : 100%;
    margin-left: 20px;
    outline : none;
}
.replybox button {
    width : 80px;
    height : 30px;
    background-color: rgb(48, 137, 232);
    border : 0px;
    font-family: Jalnan;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin-left: auto;
    margin-right : 50px;
    margin-bottom: 10px;
}
.replybox button h4 {
    font-family: Noto Sans KR;
    font-size: 15px;
    margin: auto;
}
.replybox button:hover {
    background-color: rgba(199, 187, 187, 0.4);
    color: black;
}
.replyNext {
    overflow : auto;
    width: 100%;
    height: 50%;
}