.wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    border-color: black;
    justify-content: center;
    background: rgba(87, 170, 221, 0.1);
  }
  .profile {
    width: 30%;
    height: 900px;
    background: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

h4 {
    margin-right: 140px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.Introduce {
    margin-top: 0px;
    width: 80%;    
}
.Introduce textarea {
    width: 80%;
    height: 60px;
    margin-top: 10px;
    border-radius: 5px;
    padding: 0px 10px;
    border: 1px solid lightgray;
    outline: none; 
}
.tutorSector {
    margin-top: 0px;
    width: 80%;
}
.tutorSector textarea {
    width: 80%;
    height: 60px;
    margin-top: 10px;
    border-radius: 5px;
    padding: 0px 10px;
    border: 1px solid lightgray;
    outline: none; 
}
.preferenceCountry {
    margin-top: 0px;
    width: 80%;
}
.preferenceCountry select {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    margin-top: 5px;
}
.tutorDates {
    margin-top: 0px;
    width: 80%;
}
.tutorDates select {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    margin-top: 5px;
}
.tutorDates input {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    margin-top: 5px;
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;

    /* 숨기기 */
    z-index: -1;
    opacity: 0;
}
#modal.modal-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
#modal .modal-window {
  background: white;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 13.5px );
  -webkit-backdrop-filter: blur( 13.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  width: 400px;
  height: 500px;
  position: relative;
  flex-direction: row;
  top: -100px;
  padding: 10px;
}
#modal .title {
  padding-left: 10px;
  display: inline;
  text-shadow: 1px 1px 2px gray;
  color: black;
  
}
#modal .title h2 {
  display: inline;
}
#modal .close-area {
  display: inline;
  float: right;
  padding-right: 10px;
  cursor: pointer;
  text-shadow: 1px 1px 2px gray;
  color: black;
}

#modal .content {
  margin-top: 20px;
  padding: 0px 10px;
  text-shadow: 1px 1px 2px gray;
  color: black;
}
.dateGroup {
  flex-direction: row;
  width: 100%;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}
.dateGroup button {
  width: 30px;
  height: 30px;
  margin : 10px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid silver;
}
.timeGroup {
  flex-direction: row;
  margin-top: 10px;
}
.timeGroup input{
  border-radius: 5px;
  border : 1px solid silver;
  margin-left: 10px;
}
.dateGroup select {
  border-radius: 5px;
  border : 1px solid silver;
  margin-left: 10px;
}
.timeSet {
  flex-direction: row;
  margin-top: 10px;
  margin-left : 250px;
  margin-right : 30px;
}
.timeSet button {
  width: 80px;
  height: 30px;
  margin : 10px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid silver;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.timeSet button:hover {
  background-color: gray;
  border-radius: 8px;
}
.signUp {
  margin-top: 50px;
  width: 80%;    
}
.signUp button {
  margin-left : 250px;
  margin-right : 30px;
  width: 80px;
  height: 30px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid silver;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.signUp button:hover {
  background-color: gray;
  border-radius: 8px;
}