@font-face {
    font-family : 'Noto Sans KR';
    font-style : 'normal';
    font-weight: 200;
    src : url(../fonts/NotoSansKR-Regular.otf);
  }
  
  * {
    font-family: "Noto Sans KR", sans-serif;
  }
  body {
    background: linear-gradient(to right, rgb(50, 82, 116), rgb(20, 47, 61));
    width: auto;
    height: auto;
    display: flex;
  }
  a {
    width: auto;
    text-decoration: none;
    color: black;
    text-align: center;
    text-transform: capitalize;
    font-family: Jalnan;
    font-weight: bold;
    margin-left:auto;
  }
  .nav {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    margin-right: auto;
    margin-left: 5%;
    margin-top : auto;
    margin-bottom: auto;
    width: 10%;
    height : 70%;
  }
  .home {
    margin-left : auto;
    margin-right : auto;
    margin-top : auto;
    margin-bottom : auto;
  }
  .menu_group {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  .menu_group .current {
    display: flex;
    width : 100%;
    height: auto;
    margin-top : auto;
    margin-bottom : auto;
    border-radius: 5px;
    background-color: gray;
  }
  .menu_group .other {
    display: flex;
    width : 100%;
    height: auto;
    margin-top : auto;
    margin-bottom : auto;
  }
  .menu_group a {
    font-family: Noto Sans KR;
    font-size : 15px;
    width: 100%;
    height : auto;
    margin-left : auto;
    margin-right : auto;
    color: lightgray
  }
  .menu_group .other :hover {
    border-radius: 5px;
    background-color: gray;
  }
  .myProfile {
    display: flex;
    width : 10%;
    height : 10%;
    margin-top: 10px;
    margin-right: 20px;
  }
  .myProfile a {
    font-family: Noto Sans KR;
    font-size : 15px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: auto;
    color: lightgray
  }
  .profileIcon {
    width: 48px;
    height: 48px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 24px;
  }
.profileBox {
    background-color: white;
    width: 60%;
    height: 80%;
    margin-top: auto;
    border-radius: 5px;
    margin-bottom: auto;
    margin-right: auto;
}
.profileArea {
    margin-top : auto;
    margin-bottom: auto;
    width: auto;
    height: 70%;
    display: flex;
    background-color: white;
    flex-direction: column;
}
.mountImage {
    margin-top : 20px;
    margin-bottom : 20px;
    width : 96; 
    height : 96; 
    margin-left: 20px;
    margin-right : auto;
    border : 0.5px solid lightgray;
    display : flex;
    border-radius: 70px;
    -moz-border-radius: 70px;
    -khtml-border-radius: 70px;
    -webkit-border-radius: 70px;
  }
.profiles {
    display: flex;
    flex-wrap: wrap;
    overflow-y:auto;
    width: 100%;
    height: 70%;
    border-radius: 5px;
    margin-top: 10%;
    background-color: white;
}
.searchSector {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}
.searchSector h4 {
    font-family: Noto Sans KR;
    font-size: 15px;
    margin-left: 20px;
}
.inputBox {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
}
.ckBox {
    display: flex;
    margin-left: 100px;
    margin-right: auto;
}
.inputDiv {
    width: auto;
    display: flex;
    flex-direction: row;
    margin : auto;
}
.inputDiv label {
    width: auto;
    margin-left: 10px;
}
.inputDiv input {
    margin-left: 10px;
}

.inputDiv2 {
    width: auto;
    display: flex;
    flex-direction: row;
}
.inputDiv2 label {
    width: auto;
    margin-left: 10px;
}
.inputDiv2 input {
    margin-left: 10px;
}

.search {
    margin-left:10px;
    border-radius: 2px;
    width : 50%;
    height: 20%;
    outline: none;
    border : 1px solid lightgray;
}
.searchTutor {
    width: 80%;
    height : 30%;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    margin-top : 10px;
    background-color: white;
}
.searchTutor h4 {
    font-size: 15px;
    font-family: Jalnan;
    font-weight: lighter;
    margin-bottom: 10px;
    margin-top: 10px;
}
.searchInput {
    width : auto;
    height : 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    outline : none;
    padding-left: 10px;
    border : 1px solid lightgray;
}
.departmentOption {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.departmentOption input {
    margin-right: 10px;
}
.departmentOption label {
    font-family: Jalnan;
    font-size: 15px;
    margin-right: 10px;
}
.departments {
    display: flex;
    flex-direction: column;
}
.countryOption {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.countryOption input{
    margin-right: 10px;
}
.countryOption label {
    font-family: Jalnan;
    font-size: 15px;
    margin-right: 10px;
}
.country {
    display: flex;
    flex-direction: row;
}
.searchTutor h2 {
    font-family: Jalnan;
    font-size : 15px;
    margin-top : 10px;
}
.profileCard {
    border: 0.5px solid lightgray;
    cursor: pointer;
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    margin-left : 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    width : 50%;
    height: 50%;
}

.profileCard:hover {
    box-shadow :2px 2px 2px lightgray;
}
.UserSector {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}
.topCard {
    display: flex;
}
.bottomCard {
    display: flex;

}
.nickname {
    height: 20px;
    margin-right: auto;
    margin-left: 20px;
    margin-bottom: 10px;
}
.nickname h4 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
}
.email {
    height: 20px;
    margin-right: auto;
    margin-left: 20px;
}

.email h4 {
    font-family: Noto Sans KR;
    font-size: 11px;
}
.department {
    border : 0.1px solid lightblue;
    width: auto;
    height: auto;
    border-radius: 5px;
    margin-left: 40px;
}
.department h4 {
    font-family: Noto Sans KR;
    font-size: 11px;
    margin : auto;
    padding : 3px;
    color: darkblue;
}
.countryText {
    border : 0.1px solid lightblue;
    width: auto;
    height: auto;
    border-radius: 5px;
    margin-right: auto;
    margin-left: 10px;
}
.countryText h4 {
    font-family: Noto Sans KR;
    font-size: 11px;
    margin : auto;
    padding : 3px;
    color: darkblue;
}
.name {

}
.countryText {

}