@font-face {
  font-family : 'Jalnan';
  font-style : 'normal';
  font-weight: 200;
  src : url(../fonts/RobotoMono-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}
body {
  background: linear-gradient(to left, rgb(48, 137, 232), rgb(194, 227, 247));
}
a {
  width: 10%;
      text-decoration: none;
      color: black;
  text-align: center;
  text-transform: capitalize;
      font-family: Jalnan;
      font-weight: bold;
}
.nav {
  background: white;
  margin-top : 10px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width:98%;
  height : 50px;
  margin-left: auto;
  margin-right: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.home {
  margin-left: 20px;
  margin-top : 10px;
  margin-bottom: 20px;
  width: 15px;
  height: 15px;
}
.menu_group {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 40px;
  width: 80%;
}

.navbar__menu {
  display: flex;
  list-style: none;
}
.navbar__menu .current {
  border-bottom: 4px solid rgb(58, 9, 170);
  margin-left: auto;
  margin-right: auto;
}
.navbar__menu .other {
  margin-left: auto;
  margin-right: auto;
}
.navbar__menu .other :hover {
  border-bottom: 4px solid rgb(58, 9, 170);
}

.area1 {
  margin-top: 100px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  height : 200px;
  width: 80%;
  border:1px solid silver;
}

.nickname {
  font-weight: bold;
  font-size: 30px;
  font-family: Jalnan;
  margin-left: 30%;
  margin-bottom: 15px;
}
.email {
  font-weight: bold;
  font-size: 15px;
  margin-left: 30%;
  font-family: Jalnan;
}
.country {
  font-weight: bold;
  font-size: 15px;
  margin-left: 30%;
  font-family: Jalnan;
}
.area {
  margin-left: auto;
  margin-right: auto;
  margin-top:50px;
  margin-bottom : 50px;
  background-color: white;
  border-radius: 5px;  
  width: 70%;
  height : auto;
}
.area2 {
  margin-top: 10px;
  width : 95%;
  margin-left : auto;
  margin-right: auto;
  border-bottom:1px solid silver;
}
.area3 {
  margin-top: 10px;
  border-bottom:1px solid silver;
  margin-bottom: 20px;
  width : 95%;
  margin-left : auto;
  margin-right: auto;
  
}
.request {
  margin-left: auto;
  margin-right: 20px;
  border-radius: 5px;
  background-color: white;
  width: 20%;
  height : auto;
}
.request button {
  width: 120px;
  height: 50px;
  border-radius: 5px;
  margin-top: 20px;
  margin-left : 30%;
  padding: 0px 20px;
  border: 1px solid lightgray;
  background-color: white;
  outline: none;
}
.request button h2 {
  font-family: Jalnan;
  font-weight: bold;
  font-size: 15px;
}
.request button:hover {
  background-color: silver;
  border-radius: 5px;
}
.Introduce {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 20px;
  font-family: Jalnan;
}
.title {
  font-weight: bold;
  font-size: 20px;
  font-family: Jalnan;
  margin-bottom: 20px;
}
.nextLine {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin : auto;
  background-color: rgba(199, 187, 187, 0.4);
  width: 98%;
  height: auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#modal.modal-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
#modal .modal-window {
  background: white;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 13.5px );
  -webkit-backdrop-filter: blur( 13.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  width: 400px;
  height: 500px;
  display: flex;
  position: relative;
  flex-direction: column;
  top: -100px;
  padding: 10px;
}
.modal-top {
  display: flex;
  flex-direction: row;
}
.modal-bottom {
  margin-top: 50px;
  margin-left: auto;
}
.modal-bottom button {
  width: 120px;
  height: 50px;
  border-radius: 5px;
  margin-top: 5px;
  padding: 0px 20px;
  border: 1px solid lightgray;
  background-color: white;
  outline: none;
}
#modal .modal-bottom button h2 {
  font-family: Jalnan;
  font-size: 14px;
  font-weight: bold;
}
.modal-bottom button:hover {
  background-color: silver;
  border-radius: 5px;
}
#modal .title {
  padding-left: 10px;
  display: inline;
  text-shadow: 1px 1px 2px gray;
  color: black;
  
}
#modal .title h2 {
  display: inline;
}
#modal .modal-top textarea{
  margin-top:10px;
  width: 300px;
  height : 150px;
  resize :none;
}
#modal .modal-top h4 {
  font-size : 14px;
  font-weight: bold;
  font-family: Jalnan;
}
#modal .close-area {
  display: inline;
  float: right;
  padding-right: 10px;
  cursor: pointer;
  margin-left: 50px;
  text-shadow: 1px 1px 2px gray;
  color: black;
}
#modal .content {
  margin-top: 20px;
  padding: 0px 10px;
  text-shadow: 1px 1px 2px gray;
  color: black;
}