@font-face {
    font-family : 'Noto Sans KR';
    font-style : 'normal';
    font-weight: 200;
    src : url(../fonts/NotoSansKR-Regular.otf);
  }
  
  * {
    font-family: "Noto Sans KR", sans-serif;
  }
  body {
    background: linear-gradient(to right, rgb(50, 82, 116), rgb(20, 47, 61));
    width: auto;
    height: auto;
    display: flex;
  }
  a {
    width: auto;
    text-decoration: none;
    color: black;
    text-align: center;
    text-transform: capitalize;
    font-family: Noto Sans KR;
    font-weight: bold;
    margin-left:auto;
  }
  .nav {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    margin-right: auto;
    margin-left: 5%;
    margin-top : auto;
    margin-bottom: auto;
    width: 10%;
    height : 70%;
  }
  .home {
    margin-left : auto;
    margin-right : auto;
    margin-top : auto;
    margin-bottom : auto;
  }
  .menu_group {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  .menu_group .current {
    display: flex;
    width : 100%;
    height: auto;
    margin-top : auto;
    margin-bottom : auto;
    border-radius: 5px;
    background-color: gray;
  }
  .menu_group .other {
    display: flex;
    width : 100%;
    height: auto;
    margin-top : auto;
    margin-bottom : auto;
  }
  .menu_group a {
    font-family: Noto Sans KR;
    font-size : 15px;
    width: 100%;
    height : auto;
    margin-left : auto;
    margin-right : auto;
    color: lightgray
  }
  .menu_group .other :hover {
    border-radius: 5px;
    background-color: gray;
  }
  .myProfile {
    display: flex;
    width : 10%;
    height : 10%;
    margin-top: 10px;
    margin-right: 20px;
  }
  .myProfile a {
    font-family: Noto Sans KR;
    font-size : 15px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: auto;
    color: lightgray
  }
  .profileIcon {
    width: 48px;
    height: 48px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 24px;
  }

  .profileBox {
    width: 98%;
    height: auto;
    margin : auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
  }
  .profileArea {
    width: 35%;
    height: auto;
    margin : auto;
    margin-top: 20px;
    margin-bottom : 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }
  .ImageSector {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .image {
    margin-top : 20px;
    margin-bottom : 20px;
    margin-left : auto;
    margin-right: auto;
    width : 128; 
    height : 128; 
    border : 0.5px solid lightgray;
    display : flex;
    border-radius: 70px;
    -moz-border-radius: 70px;
    -khtml-border-radius: 70px;
    -webkit-border-radius: 70px;
  }
  .UserSector {
    margin-top : 30px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .nickname {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
  }
  .nickname h4 {
    font-size: 14px;
    font-family: Noto Sans KR;
  }
  .department {
    margin-top : 30px;
    width: auto;
    height: auto;
    border-bottom: 1px solid lightgray;
  }
  .department h3 {
    font-size: 14px;
    font-family: Noto Sans KR;
    margin-left: 10px;
    color: darkgray;
  }
  .department h4 {
    font-size: 16px;
    font-family: Noto Sans KR;
    margin-left: 10px;
    margin-top : 10px;
    margin-bottom: 20px;
  }
  .email {
    margin-top : 10px;
    width: auto;
    height: auto;
    display: flex;
    border-bottom: 1px solid lightgray;
  }
  .email h4 {
    font-size: 16px;
    font-family: Noto Sans KR;
    margin-left: auto;
    margin-right: auto;
    margin-bottom : 30px;
  }
  .name {
    margin-top : 30px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid lightgray;
  }
  .name h3 {
    font-size: 14px;
    font-family: Noto Sans KR;
    margin-left: 10px;
    color: darkgray;
  }
  .name h4 {
    font-size: 16px;
    font-family: Noto Sans KR;
    margin-left: 10px;
    margin-top : 10px;
    margin-bottom: 20px;
  }
  .userType h3 {
    font-size: 14px;
    font-family: Noto Sans KR;
    margin-left: 10px;
    color: darkgray;
  }
  .userType h4 {
    font-size: 16px;
    font-family: Jalnan;
    margin-left: 10px;
    margin-top : 10px;
    margin-bottom: 20px;
  }
  .tutorDate {
    margin-top : 30px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid lightgray;
  }
  .tutorDate h3 {
    font-size: 14px;
    font-family: Noto Sans KR;
    margin-left: 10px;
    color: darkgray;
  }
  .tutorDate h4 {
    font-size: 16px;
    font-family: Noto Sans KR;
    margin-left: 10px;
    margin-top : 10px;
    margin-bottom: 20px;
  }
  .tutorIntroduce {
    margin-top : 30px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid lightgray;
  }
  .tutorIntroduce h3 {
    font-size: 14px;
    font-family: Noto Sans KR;
    margin-left: 10px;
    color: darkgray;
  }
  .tutorIntroduce h4 {
    font-size: 16px;
    font-family: Noto Sans KR;
    margin-left: 10px;
    margin-top : 10px;
    margin-bottom: 20px;
  }
  .tutorSector {
    margin-top : 30px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid lightgray;
  } 
  .tutorSector h3 {
    font-size: 14px;
    font-family: Noto Sans KR;
    margin-left: 10px;
    color: darkgray;
  }
  .tutorSector h4 {
    font-size: 16px;
    font-family: Noto Sans KR;
    margin-left: 10px;
    margin-top : 10px;
    margin-bottom: 20px;
  }
#modal.modal-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
#modal .modal-window {
  background: white;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 13.5px );
  -webkit-backdrop-filter: blur( 13.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  width: 400px;
  height: 500px;
  display: flex;
  position: relative;
  flex-direction: column;
  top: -100px;
  padding: 10px;
}
.modal-top {
  display: flex;
  flex-direction: row;
}
.modal-bottom {
  margin-top: 50px;
  margin-left: auto;
}
.modal-bottom button {
  width: 120px;
  height: 50px;
  border-radius: 5px;
  margin-top: 5px;
  padding: 0px 20px;
  border: 1px solid lightgray;
  background-color: white;
  outline: none;
}
#modal .modal-bottom button h2 {
  font-family: Jalnan;
  font-size: 14px;
  font-weight: bold;
}
.modal-bottom button:hover {
  background-color: silver;
  border-radius: 5px;
}
#modal .title {
  padding-left: 10px;
  display: inline;
  text-shadow: 1px 1px 2px gray;
  color: black;
  
}
#modal .title h2 {
  display: inline;
}
#modal .modal-top textarea{
  margin-top:10px;
  width: 300px;
  height : 150px;
  resize :none;
}
#modal .modal-top h4 {
  font-size : 14px;
  font-weight: bold;
  font-family: Noto Sans KR;
}
#modal .close-area {
  display: inline;
  float: right;
  padding-right: 10px;
  cursor: pointer;
  margin-left: 50px;
  text-shadow: 1px 1px 2px gray;
  color: black;
}
#modal .content {
  margin-top: 20px;
  padding: 0px 10px;
  text-shadow: 1px 1px 2px gray;
  color: black;
}
.requestButton {
  display: flex;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.requestButton button {
  width : 100px;
  height : 40px;
  background-color: white;
  border: 0.5px solid lightgray;
  border-radius: 5px;
}
.requestButton button:hover {
  box-shadow: 2px 2px 2px lightgray;
}
.requestButton button h4 {
  font-family: Noto Sans KR;
  margin: auto;
}